<%= form_for(@part) do |f| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% @part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :part_number %><br>
    <%= f.text_field :part_number %>
  </div>
  <%=f.fields_for :assemblies do |a|%>
    <%= a.label :name %><br>
    <%= a.text_field :name %><br><br>
  <% end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
